.padre {
    background-color: blue;
    width: 500px;
    height: 500px;
    
    display: flex;
    justify-content: flex-start;
    /* align-items: center ; */
}

.hijo {
    background-color: yellow;
    border: 2px solid black;
    width: 100px;
    height: 100px;

}

.right {
    margin-left: auto;
    
}
