/* Esta es mi primera hoja de estilos */

.box {  /*Con punto es una clase */
    display: block;
    padding: 20px;
    font-size: 2em;
    margin: 5px;
    border: 2px solid black;
    border-radius:3px;
}

.box-blue {
    background-color: blue;
    
}

.box-red {
    background-color: red;
}

#unico {     /* con # para un ID */
    font-weight: bold;
    font-size: 22px;
}
 .linea {
     text-decoration: underline;
}
